requests==2.11.1
oslo.i18n==3.9.0
tablib
os-client-config==1.21.1
pyopenssl
ndg-httpsclient
pyasn1
httplib2
python-swiftclient==3.1.0
python-muranoclient==0.11.0
python-magnumclient==2.3.1
python-ironicclient==1.7.1
bs4
osprofiler
